<!DOCTYPE html>
<html lang="ar">
<head>
    <!-- Vendor CSS Files -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="vendor/aos/aos.css" rel="stylesheet">
    <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="">
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
    <!-- ׃ד ַבָ״ב (Hero Section) -->
    <!-- Hero Section -->
    <section id="hero" class="hero section">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1>דַָֽׁ ָד ם</h1>
                    <h1>דוֿ םה װד׃</h1>
                    <p>ֽםֻ הׁ׃ם ֶַֿד ַבז דה ־בַב ַבבםד זװּם ַבֵַָֿ ז ַבַַָׁ</p>
                    <div class="d-flex">
                        <a href="#" class="buy-btn">׃ּב ַבֳה</a>
                        <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox btn-watch-video d-flex align-items-center"></a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img">
                    <img src="/img/1.jpg" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Clients Section -->
    <div class="text-center mb-5 mt-5">
        <div class="container section-title" data-aos="fade-up">
            <h2>ַבַ׃ַד ַבבדםֹ</h2>
            <img src="img/imgdividor.svg" alt="Description of SVG">
        </div>


    </div>
    <section id="clients" class="clients section light-background">
        <div class="container" data-aos="fade-up">
            <div class="row gy-4 justify-content-center">

                <div class="col-xl-2 col-md-3 col-6 client-logo">
                    <img src="img/clint2.svg" alt="Description of SVG">
                </div>
                <!-- End Client Item -->
                <div class="col-xl-2 col-md-3 col-6 client-logo">
                    <img src="img/clint3.svg" alt="Description of SVG">
                </div>
                <!-- End Client Item -->

                <div class="col-xl-2 col-md-3 col-6 client-logo">
                    <img src="img/clint2.svg" alt="Description of SVG">
                </div>
                <!-- End Client Item -->
                <div class="col-xl-2 col-md-3 col-6 client-logo">
                    <img src="img/clint3.svg" alt="Description of SVG">
                </div>
                <!-- End Client Item -->

            </div>
        </div>
    </section>

    <div class="text-center mb-5 mt-5">
        <div class="container section-title" data-aos="fade-up">
            <h2>ַבַ׃ַד ַבבדםֹ</h2>
            <img src="img/imgdividor.svg" alt="Description of SVG">
        </div>
    </div>
    <!-- About Start -->
    <div class="container-fluid about py-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-xl-7 wow fadeInLeft" data-aos="fade-up">
                    <div>
                        <h1 class="display-5 mb-4">ֽׁבֹ ַבדֹׁ ֳָֿ דה והַ</h1>
                        <p class="mb-4">
                            "דוֿ םה װד׃" וז דִ׃׃ֹ בםדםֹ ד־ױױֹ ׃ל בֿםד בםד ַבם ַבּזֹֿ ם דַּבַ ַבבזד ַבװׁםֹ זַבֵ׃בַדםֹ. םוֿ ַבדוֿ ֵבל ֵַֿֿ ״בַָ ז״ַבַָ םדזה ָדֹׁ דםֹ זםׁ הֿם דָהם בל ֳ׃׃ ַבװׁםֹ ַבֵ׃בַדםֹ. םץֿד ַבדוֿ ָםֶֹ בםדםֹ װַדבֹ ּד ָםה ַבבםד ַבֳַֿםדם זַבזּםו ַבֿםהם¡ ֽםֻ ם׃ל בׁ׃ם־ ַבםד ַבֳ־בַםֹ זַבַבםד ַבֵ׃בַדםֹ דה ־בַב ַָׁדּ ַֿׁ׃םֹ דַדבֹ זַֿׁ בםדם דִוב.
                        </p>
                    </div>
                </div>
                <div class="col-xl-5 wow fadeInRight" data-aos="fade-up">
                    <div class="bg-primary rounded position-relative overflow-hidden">
                        <img src="img/img/1.jpg.png" class="img-fluid rounded w-100" alt="">
                        <div class="" style="position: absolute; top: -15px; right: -15px;">
                            <img src="img/img/1.jpg" class="img-fluid" style="width: 150px; height: 150px; opacity: 0.7;" alt="">
                        </div>
                        <div class="" style="position: absolute; top: -20px; left: 10px; transform: rotate(90deg);">
                            <img src="img/1.jpg" class="img-fluid" style="width: 100px; height: 150px; opacity: 0.9;" alt="">
                        </div>
                        <div class="rounded-bottom">
                            <img src="img/1.jpg" class="img-fluid rounded-bottom w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- Services Section -->
    <section id="services" class="services section">
        <!-- Section Title -->
        <div class="text-center mb-5 mt-5">
            <div class="container section-title" data-aos="fade-up">
                <h2>ַבַ׃ַד ַבבדםֹ</h2>
                <img src="img/imgdividor.svg" alt="Description of SVG">
            </div>


        </div>
        <!-- End Section Title -->
        <div class="container">
            <div class="row gy-4 justify-content-center">
                <div class="col-xl-4 col-md-6 d-flex " data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item position-relative  rounded-4">
                        <i class="bi bi-laptop"></i>
                        <h4>
                            <a href="" class="stretched-link">הםֹ ַבדבזדַ</a>
                        </h4>
                        <p>םֿד ׃ד הםֹ ַבדבזדַ ם ַבדוֿ ַָׁדּ בםדםֹ דַדבֹ בֳוםב ַב״בַָ ם דַּבַ הזבזּםַ ַבדבזדַ זַבָׁדֹּ זֵַֹֿׁ ַבֳהדֹ ַבֽֿםֹֻ.</p>
                    </div>
                </div>
                <!-- End Service Item -->
                <div class="col-xl-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-item position-relative rounded-4">
                        <i class="bi bi-calculator"></i>
                        <h4>
                            <a href="" class="stretched-link">ַבדַֽ׃ָֹ </a>
                        </h4>
                        <p>םֿד ׃ד ַבדַֽ׃ָֹ ם ַבדוֿ ַָׁדּ בםדםֹ דַדבֹ וֿ ֵבל ֳוםב ַב״בַָ ַָבדֹׁ זַבדוַַׁ ַבבַׂדֹ בבהַּֽ ם דַּבַ ַבדַֽ׃ָֹ זַבדַבםֹ.</p>
                    </div>
                </div>
                <!-- End Service Item -->
                <div class="col-xl-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-item position-relative rounded-4">
                        <i class="bi bi-briefcase"></i>
                        <h4>
                            <a href="" class="stretched-link">ַַֹֿׁ ַבַדַב </a>
                        </h4>
                        <p>םֿד ׃ד ֵַֹֿׁ ַבֳדַב ם ַבדוֿ ַָׁדּ בםדםֹ דַדבֹ וֿ ֵבל ֳוםב ַב״בַָ ַָבדַׁ זַבדוַַׁ ַבבַׂדֹ בבהַּֽ ם ַבד ַבֳדַב ַבֽֿםֻ</p>
                    </div>
                </div>
                <!-- End Service Item -->

            </div>
        </div>
    </section>
    <!-- /Services Section -->
    
    <!-- Pricing Section -->
    <section id="pricing" class="pricing section">

        <!-- Section Title -->
        <div class="text-center mb-5 mt-5">
            <div class="container section-title" data-aos="fade-up">
                <h2>ַב־ֿדַ ַבַבׁזהםֹ</h2>
                <img src="img/imgdividor.svg" alt="Description of SVG">
            </div>
        </div>
        <!-- End Section Title -->
        <div class="container">
            <div class="row gy-4">
                <!-- ַבָ״ַֹ ַבֳזבל: ַבדהױֹ ַבֵבׁזהםֹ -->
                <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="pricing-item justify-content-center text-center rounded-4" style="padding: 20px;">
                        <i class=" bi bi-laptop" style="font-size: 77px; color: #571c05;"></i>
                        <h4 class=" mb-3">ַבדהױֹ ַבֵבׁזהםֹ</h4>
                        <p class="mb-4">
                            ַבדהױֹ ַבֵבׁזהםֹ בבדוֿ ה״ֹ ַבֱַ ָםה ַב״בַָ זַבֳ׃ַ׀ֹ¡ ֽםֻ זׁ ָםֶֹ בםדםֹ דַדבֹ װדב דֽזל ֳַֿםדם¡ דזַֿׁ בםדםֹ¡ זֳֿזַ ַבםֹ ׃וד ם ׂםׂ ָֹּׁ ַבבד ז׃וםב ַבזױזב ֵבל ַבדבזדַ זַב־ֿדַ .
                        </p>
                        <a href="#" class="buy-btn">׃ּב ַבֳה</a>
                    </div>
                </div>
                <!-- End Pricing Item -->
                <!-- ַבָ״ַֹ ַבַֻהםֹ: ׃ּםב ַבדַֽײַׁ -->
                <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="pricing-item featured text-center rounded-4" style="padding: 20px;">
                        <i class="mt-3 fas fa-video" style="font-size: 77px; color: #571c05;"></i>
                        <h4 class="mt-3 mb-3 "  >׃ּםב ַבדַֽײַׁ</h4>
                        <p class="mb-4">
                            ֿד ־ֿדֹ ׃ּםב ַבדַֽײַׁ בב״בַָ ֵדַהםֹ ַבזױזב ֵבל דֽזל ַבֿׁז׃ ם ֳם ז זדה ֳם דַה¡ דדַ ם׃וב בםוד דַֹּׁ ַבדבזדַ זודוַ ָװב ֳד¡ זםׂׂ דה ַבםֹ דבםֹ ַבבד.
                        </p>
                        <a href="#" class="buy-btn">׃ּב ַבֳה</a>
                    </div>
                </div>
                <!-- End Pricing Item -->
                <!-- ַבָ״ַֹ ַבַֻבֹֻ: ַבדָֹ ַבֵבׁזהםֹ -->
                <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="pricing-item text-center rounded-4" style="padding: 20px;">
                        <i class=" mt-3 fas fa-book" style="font-size: 77px; color: #571c05;"></i>
                        <h4 class="mt-3 mb-3">ַבדָֹ ַבֵבׁזהםֹ</h4>
                        <p class="mb-4">
                            ַבדָֹ ַבֵבׁזהםֹ בבדוֿ זׁ בב״בַָ דּדזֹ זַ׃ֹ דה ַבָ זַבדױַֿׁ ַבֳַֿםדםֹ ַבם םדה ַבזױזב ֵבםוַ ָ׃וזבֹ¡ דדַ ם׃וד ם ׂםׂ ַבדֹׁ זַבבד ַב׀ַם ם ד־ב ַב־ױױַ.
                        </p>
                        <a href="#" class="buy-btn">׃ּב ַבֳה</a>
                    </div>
                </div>
                <!-- End Pricing Item -->
            </div>
        </div>
        </section>

    <!-- /Pricing Section -->
    <!-- Section Statistics -->
    <div class="text-center mt-5 mb-5">
        <div class="container section-title" data-aos="fade-up">
            <h2>ַבַֽױֶַםַ</h2>
            <img src="img/imgdividor.svg" alt="Description of SVG">
        </div>
    </div>

    <section id="statistics" class="py-5 bg-light mt-3 mb-3">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3 mb-3 d-flex flex-column align-items-center">
                    <div class="text-center">
                        <h3 class="m-0">1200+</h3>
                        <p class="m-0">ֿֿ ַב״בַָ</p>
                    </div>
                </div>
                <div class="col-md-3 mb-3 d-flex flex-column align-items-center">
                    <div class="text-center">
                        <h3 class="m-0">300+</h3>
                        <p class="m-0">ֿֿ ַבֿזַׁ</p>
                    </div>
                </div>
                <div class="col-md-3 mb-3 d-flex flex-column align-items-center">
                    <div class="text-center">
                        <h3 class="m-0">50+</h3>
                        <p class="m-0">ֿֿ ַבדבדםה</p>
                    </div>
                </div>
                <div class="col-md-3 mb-3 d-flex flex-column align-items-center">
                    <div class="text-center">
                        <h3 class="m-0">100%</h3>
                        <p class="m-0">ה׃ָֹ ַבהַּֽ</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <link href="/js/site.js" rel="stylesheet" />


</body>
</html>
