@{
    ViewData["Title"] = "الصفحة الرئيسية";
}

<!DOCTYPE html>
<html lang="ar">
<head>
    <style>

        /* قسم الإنجازات */
        .achievements {
            padding: 40px 20px;
            background-color: #eee;
            text-align: center;
        }

        .achievement-stats {
            display: flex;
            justify-content: center;
            gap: 30px;
        }

        .stat h3 {
            font-size: 36px;
            color: #C7A250;
        }

        .stat p {
            font-size: 18px;
            margin-top: 5px;
        }

    </style>
</head>
<body>
    <!-- top section -->
    <section class="animate__animated  hero">
        <div class="hero-text">
            <h1>معهد عين شمس العالي</h1>
            <p>المستقبل بين يديك</p>
        </div>
        <img src="~/img/call.jpg" alt="صورة المعهد" class="hero-image">
    </section>
  
  
    <!-- قسم الإنجازات -->
    <section class="achievements">
        @* <div class="container"> *@
            <h2>إنجازاتنا</h2>
            <div class="achievement-stats">
                <div class="stat">
                    <h3>2000+</h3>
                    <p>طالب مسجل</p>
                </div>
                <div class="stat">
                    <h3>500+</h3>
                    <p>خريج</p>
                </div>
                <div class="stat">
                    <h3>20+</h3>
                    <p>برنامج أكاديمي</p>
                </div>
            </div>
        @* </div> *@
    </section>

</body>
</html>

