 /* تعيين الخط Tajawal لكامل الموقع */
   
* {
    font-family: 'Tajawal', sans-serif;
 padding:0;
 margin:0;
}


/*صور المعهد*/
/* PRODUCTS */
.product {
    position: relative;
    overflow: hidden;
    padding: 20px;
}
.product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

    .product-container::-webkit-scrollbar {
        display: none;
    }

.product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.product-image {
    position: relative;
    width: 100%;
    height: 350px;
    margin-block: 10px;
    overflow: hidden;
    transition: all;
}

    .product-image:hover {
        transition: 0.3s ease;
        border: 7px solid orange;
        transform: scale(1.03);
    }

.product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fffffff8 100%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

    .pre-btn img,
    .nxt-btn img {
        opacity: 0.2;
    }

    .pre-btn:hover img,
    .nxt-btn:hover img {
        opacity: 1;
    }

/*--------------------------------------------------------------
# Header Section
--------------------------------------------------------------*/
.topbar {
    background: linear-gradient(to left, #77643f,#77643f,#c4a562,#c4a76a,#c4a76a,#f0e3c6,#c4a76a,#c4a76a,#c4a562,#77643f,#77643f );
    padding: 5px 25px;
}

.tp-left {
    text-align: left;
    padding: 0 10px;
    font-size: 18px;
}

.tp-right {
    padding: 0;
}

.topbar a {
    color: #F4F3E7;
    margin-right: 15px;
    text-decoration: none;
    transition: color 0.3s; 
}

    .topbar a:hover {
        color: #C4A76A; 
    }

/* NAVEGATION */

.navbar-brand img {
    object-fit: cover;
}

.navbar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    background: #F1F1F1;
    padding-right: 15px;
}
.nav-link {
    color: #545350;
    font-size:1rem;
    font-weight: bold;
}
#navbarDropdown {
    color: #545350;
    font-size: 16px;
    font-weight: bold;
}
.nav-link:hover {
    color: #D7B46A;
}
#navbarDropdown:hover {
    color: #D7B46A;
}
@media (max-width: 992px) {
    .navbar-nav {
        text-align: center;
    }
}
/* إعدادات زر سجل الآن */
.btn-custom {
    background-color: #D7B46A;
    color: #FFFFFF; 
    padding: 5px 20px;
    font-weight: bold;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

    .btn-custom:hover {
        transform: scale(1.05);
    }
/*--------------------------------------------------------------
# Top Section
--------------------------------------------------------------*/
.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 50px;
    opacity:0.7;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
   z-index:1000;
}

    .hero-text h1 {
        font-size: 48px;
        margin: 0;
    }

    .hero-text p {
        font-size: 24px;
        margin: 10px 0 0;
    }
/*--------------------------------------------------------------
#  boss Section
--------------------------------------------------------------*/

.content-section {
    padding: 40px;
}
.dean-image {
    max-width: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

.dean-message {
    font-size: 18px;
    line-height: 1.8;
    color: #333;
}
/*--------------------------------------------------------------
#  Team Section
--------------------------------------------------------------*/

.team .member {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: #fff;
    text-align: center;
    transition: 0.3s;
}

    .team .member .member-img {
        position: relative;
        overflow: hidden;
    }

        .team .member .member-img img {
            transition: 0.5s;
        }

    .team .member:hover .member-img img {
        transform: scale(1.1);
    }

    .team .member .social {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
    }

        .team .member .social a {
            color: #fff;
            background: #1d71b8;
            border-radius: 50%;
            padding: 8px;
            transition: 0.3s;
        }

            .team .member .social a:hover {
                background: #007bff;
            }

.team .member-info {
    padding: 20px;
}

    .team .member-info h4 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #333;
    }

    .team .member-info span {
        display: block;
        font-size: 14px;
        color: #555;
    }

/*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*/

footer {
    color: #fff;
    padding: 35px 0;
}

.footer-container {
    align-items: center;
    text-align: center;
}

#footbg {
    background: linear-gradient(to top left, #362d20,#545350,#545350,#362d20 );
    padding: 10px 0;
}

.footer-content {
    display: flex;
}

.footer-section {
    margin: 20px;
    flex-basis: 30%;
}

    .footer-section h2 {
        font-size: 20px;
        color: #e9c882; /* الذهبي الفاتح */
        margin-bottom: 15px;
        font-weight: 700; /* نص غامق */
        border-bottom: 2px solid #e9c882; /* خط سفلي */
        padding-bottom: 10px;
        text-align: center;
    }

    .footer-section p {
        margin: 5px 0;
        line-height: 25px;
    }

    .footer-section ul {
        margin: 5px 0;
        padding: 0;
        list-style: none;
    }

        .footer-section ul li {
            margin-bottom: 5px;
        }

            .footer-section ul li a {
                color: #fff;
                text-decoration: none;
            }

                .footer-section ul li a:hover {
                    color: #C4A76A;
                }

/*ايقونات تواصل الاجتماعي*/
.social-media a {
    color: #F4F3E7;
    margin-right: 15px;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s; /* تأثيرات عند التحويم */
}

    .social-media a:hover {
        color: #C4A76A; /* لون مميز عند التحويم */
    }

/*جزء جميع الحقوق محفوظة*/
#footbg_botton {
    background-color: #333;
    margin-left: 0;
    margin-right: 0;
}

.footer-bottom {
    text-align: center;
    margin: 15px 0px;
    font-size: 16px;
    color: #F4F3E7;
    margin-left: 0;
    margin-right: 0;
}

    .footer-bottom a {
        color: #C4A76A;
        text-decoration: none;
    }

        .footer-bottom a:hover {
            color: #F4F3E7;
        }



/*--------------------------------------------------------------
#  Scroll top
--------------------------------------------------------------*/

/* السهم يكون مخفيًا بشكل افتراضي */
#back-to-top {
    display:none; 
    position: fixed; 
    bottom: 20px;
    right: 20px; 
    background-color: #C7A250; 
    color: white; 
    padding: 5px 10px; 
    border-radius: 50%; 
    font-size: 25px; 
    cursor: pointer; 
    z-index: 1000;
    transition: opacity 0.3s; 
}

    /* عند التحويم عليه */
    #back-to-top:hover {
        background-color: #A6853D; /* لون مختلف عند التمرير */
    }

